In [ ]:
import sys
import subprocess

print("Using Python at:", sys.executable)

# Install needed packages in the *current* environment bc I had some issues
subprocess.check_call([sys.executable, "-m", "pip", "install", "matplotlib", "pyarrow"])

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path

# Make plots a bit nicer
plt.style.use("default")

# ----------------------------------------
# Load warehouse tables
# ----------------------------------------
project_root = Path("..").resolve()
warehouse_dir = project_root / "data" / "warehouse"

dim_users = pd.read_parquet(warehouse_dir / "dim_users.parquet")
fct_transactions = pd.read_parquet(warehouse_dir / "fct_transactions.parquet")
fct_funnel = pd.read_parquet(warehouse_dir / "fct_funnel.parquet")

# Make plots a bit prettier
plt.style.use("default")

# Make sure images folder exists (for README)
images_dir = project_root / "images"
images_dir.mkdir(exist_ok=True)

#show data
dim_users.head()

In [2]:
fct_transactions.head()

,user_id,transaction_time,amount_eur,category,merchant_country,transaction_type,transaction_date,transaction_hour
0,5,2024-10-08 03:31:07,27.06,Travel,UK,TRANSFER,2024-10-08,3
1,5,2024-09-28 19:20:07,18.49,Transport,IT,ATM_WITHDRAWAL,2024-09-28,19
2,5,2024-10-07 18:20:07,29.62,Restaurants,UK,TRANSFER,2024-10-07,18
3,5,2024-10-14 16:25:07,50.09,Transport,DE,CARD_PAYMENT,2024-10-14,16
4,5,2024-11-03 17:53:07,17.45,Groceries,AT,ATM_WITHDRAWAL,2024-11-03,17

In [3]:
fct_funnel.head()

   user_id  step_order             step_name          event_time
0        1           1         VIEWED_SIGNUP 2024-11-23 04:03:12
1        1           2  STARTED_REGISTRATION 2024-11-23 04:09:12
2        1           3         KYC_COMPLETED 2024-11-23 05:33:12
3        2           1         VIEWED_SIGNUP 2024-05-05 08:07:36
4        2           2  STARTED_REGISTRATION 2024-05-05 08:42:36